/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require jquery-ui/datepicker
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
// @import "bootstrap-sprockets";
@import "font-awesome";
//固定したバーに隠れる部分をなくすため
body {
	padding-top: 55px;
	padding-bottom: 50px;
	font-family: "Hiragino Maru Gothic Pro"
}
// imgタグの設定
img {
	max-width: 100%;
	height: auto;
}
.container{
	font-family: "Hiragino Maru Gothic Pro";
}
nav a:hover{
	background-color: transparent;
}

nav {
	// background-color: #953AB9;
	background-size:cover;
	background-image: url("bar_back.jpg");
}

body a:hover{
	background-color: transparent;
}

.box_srcollbar {
overflow:auto;
width:100%;
height:80vh;
// padding:5px;
// border:3px solid #000;
background-color:transparent;
color:#000;
font-size:14px;
font-family: "Hiragino Maru Gothic Pro";
}

.to_message {
    background-color: #f00;
    transition: background-color 0.5s, border-radius 1s;
}
.to_message a:hover{
	background-color: #333;
  border-radius: 20px;
  transition: background-color 1s, border-radius 2s;
}

tr:hover {
    background-color: white;
		box-shadow: 0px 0px 10px orange;
		transition: background-color 1s, box-shadow 1s;
}

tr.highlight {
	box-shadow: 0px 0px 10px red;
	background-color: #fff4fe;
}

table {
    background-color: white;
		box-shadow: 0px 0px 8px silver;
}

.shadow{
	box-shadow: 0px 0px 8px silver;
}
// // 背景画像をいっぱいに表示
// div {
//   background-size:cover;
//   // max-width: 100%;
//   // max-height: 100%;
//   background-position: top left;
//   background-repeat:no-repeat;
// }
