// Place all the styles related to the MatchRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top5 {
  margin-top:3%;
  padding: 3%;
  border:1px solid silver;
}

.comment{
  border:1px solid green;
  border-radius: 5px;
  padding: 2%;
}

.btn-good{
  border-radius: 30px;
  padding: 2%;
  background-color: #f4699e;
  color: #ffdbe8;
}

.btn{
  border-radius: 30px;
}
