// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*******************************
* left
********************************/

.box{
  border: 1px solid #000;
  padding: 2%;
  background-color: white;
  box-shadow: 0px 0px 10px darkgray;
}
.box_srcollbar {
overflow:auto;
width:100%;
height:80vh;
padding:5px;
// border:3px solid #000;
background-color:transparent;
color:#000;
font-size:14px;
}
.box_title{
border:1px solid #000;
padding:5px;
width:300px;
font-weight:bold;
font-size:14px;
background-color:#000;
color:#fff;
}
.left_balloon {
    position: relative;
    background: #fff;
    border: 1px solid #777;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    margin-right: 20%;
    clear: both;
    max-width: 500px;
    float: left;
    font-family: "Hiragino Maru Gothic Pro";
}
.left_balloon:after,
.left_balloon:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.left_balloon:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 7px;
    margin-top: -7px;
}
.left_balloon:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #000;
    border-width: 8px;
    margin-top: -8px;
}

/*******************************
* right
********************************/
.right_balloon {
    position: relative;
    background: #85e249;
    border: 1px solid #777;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    margin-left: 20%;
    clear: both;
    max-width: 500px;
    float: right;
    font-family: "Hiragino Maru Gothic Pro";
}
.right_balloon:after,
.right_balloon:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.right_balloon:after {
    border-color: rgba(133, 226, 73, 0);
    border-left-color: #85e249;
    border-width: 7px;
    margin-top: -7px;
}
.right_balloon:before {
    border-color: rgba(119, 119, 119, 0);
    border-left-color: #777;
    border-width: 8px;
    margin-top: -8px;
}

/*******************************
* clear
********************************/
.clear_balloon{
  clear: both;
}
.comment_area {
    margin-bottom: 20px;
}
/*******************************
* 改行
********************************/
.new_line {
    white-space: pre-line;
}

@media (min-width: 768px){
.navbar-center{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
}
}
