// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th,td{
  border-top:1px solid silver;
  border-width: 1px 0;
  padding:10px;
  font-family: "Hiragino Maru Gothic Pro";
}
tr:last-child td,
tr:last-child th{
  border-bottom:1px solid silver;
  border-width: 1px 0;
  font-family: "Hiragino Maru Gothic Pro";
}

.fileUploder{
    position:relative;
    /*↓幅はデザイン依存。場合によっては、指定しなくていい*/
    width:315px;
    /*↓高さ指定しないとIE7で領域がひろがる…？*/
    height:31px;
    /*↓はみ出した分隠す。IE対策*/
    overflow:hidden;
}
.fileUploder .uploader{
    position:absolute;
    top:0;
    /*↓leftからrightに。ボタンが右にあるので、rightにしないとだめ。IE対策。*/
    right:0;
    /*↓念のため*/
    z-index:99;
    width:100%;
    height:100%;
    /*↓ここでフォームアイテムの大きさを調整。IE対策*/
    font-size:315px;
    opacity:0;
    /*↓IE6,7対策*/
    filter:alpha(opacity=0);
    /*↓IE8対策*/
    -ms-filter:"alpha(opacity=0)";
}
