<!DOCTYPE html>
<html>
  <head>
    <title>Matching</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark" style="background-color: #B94FFA;">
        <a class="navbar-brand" href="#">Navbar</a>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
